.cover__subtitle {
    width: 360px;
    min-height: 66px;
    text-align: center;
    color: #FFFFFF;
  }

  @media (max-width: 767px) {
    .cover__subtitle {
      font-size: 14px;
      width: 288px;
    }
  }