.header {
    display: flex;
    width: 92.5%;
    max-width: 1184px;
    /* min-width: 288px; */
    background-color: #2A2C2F;
    font-family: Inter, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding: 28px 0 56px 0;
  }

  @media (max-width: 1023px) {
    .header {
      padding: 28px 0 48px 0;
    }
  }

  @media (max-width: 767px) {
    .header {
      padding: 16px 0 48px 0;
    }
  }


    
  