.lead__title {
    font-size: 96px;
    text-align: center;
    font-family: Iblack, Arial, sans-serif;
    width: 720px;
    /* border: 1px solid red; */
    display: flex;
    padding-right: auto;
    padding-left: auto;
    margin: 0 0 32px 0;
  }

  @media (max-width: 767px) {
    .lead__title {
      font-size: 40px;
      width: 288px;
      text-align: center;
      display: flex;
      margin: 0 0 16px 0;
    }
  }
  