.lead__image {
    margin-bottom: 8px;
    width: 100%;
    min-width: 768px;
  }

@media (max-width: 1023px) {
  .lead__image {
    /* width: 768px; */
  }
}

@media (max-width: 767px) {
  .lead__image {
    /* width: 768px; */
    min-width: 320px;
  }
}

