.lead__image {
    margin: 0 0 8px 0;
    width: 100%;
    padding: 0;
    /* min-width: 768px; */
    box-sizing: border-box;
  }

@media (max-width: 1023px) {
  .lead__image {
    /* min-width: 750px;  */
  }
}

@media (max-width: 767px) {
  .lead__image {
    /* width: 768px; */
    min-width: 320px;
    box-sizing: border-box;
  }
  }
}

