.intro {
    display: flex;
    width: 690px;
    /* border: 1px solid red; */
    flex-direction: column;
    align-self: flex-start;
    color: #ffffff;
    margin: 0;
    padding: 0 148px 0 148px;
  }

  @media (max-width: 1279px) {
    .intro {
      padding: 0 0 0 48px;
    }
  }

  @media (max-width: 1023px) {
    .intro {
      display: flex;
      width: 720px;
      /* min-height: 429px; */
      /* border: 1px solid red; */
      flex-direction: column;
      align-self: flex-start;
      color: #ffffff;
      margin: 0;
      padding: 0 24px 0 24px;
      box-sizing: border-box;
    }
  }

  @media (max-width: 767px) {
    .intro {
      display: flex;
      width: 92.5%;
      /* border: 1px solid red; */
      flex-direction: column;
      align-self: flex-start;
      color: #ffffff;
      margin: 0;
      padding: 0 16px 0 16px;
    }
  }


  