.place__link-href {
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    text-underline-offset: 3px;
    margin: 0 0 48px 0;
  }

  .place__link-href:hover {
    opacity: 80%;
  }

  @media (max-width: 767px) {
    .place__link-href {
      margin: 0 0 32px 0;
    }
  }