.cover__title {
    font-family: Iblack, Arial, sans-serif;
    font-size: 72px;
    line-height: 106%;
    width: 560px;
    /* min-height: 152px; */
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px 0;
  }

  @media (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      width: 255px;
      margin: 0 0 16px 0;
    }
  }