.footer {
  display: flex;
  width: 92.5%;
  max-width: 1184px;
  justify-content: space-between;
  align-items: center;
  min-height: 18px;
  /* border: 1px solid red; */
  padding: 0 0 24px 0;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-self: start;
    width: 186px;
    min-height: 310px;
  }
}