.footer {
  display: flex;
  width: 92.5%;
  max-width: 1184px;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  border: 1px solid red;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-self: start;
    width: 186px;
    height: 310px;
  }
}