@media (max-width: 1279px) {
  .kolskiy {
    padding: 0 48px 71px 48px;
  }
}

@media (max-width: 1023px) {
  .kolskiy {
    padding: 0 24px 73px 24px;
  }
}

@media (max-width: 767px) {
  .kolskiy {
    padding: 0 0 50px 0;
  }
}